.border-box-create {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem gray;
}

.border-box-display {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem gray;
    height: 10rem;
    padding-bottom: 2rem;
    display: flex;
  }

.container-fluid {
    background-color: #e4f8ed;
}

.heading {
    background-color: white;
}

.row {
    display: flex;
    justify-content: center;
}