.border-box-create {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem gray;
  border: 0.2rem solid black;
}

.border-box-display {
  margin: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem gray;
  display: flex;
  height: 0rem;
}

.container-fluid {
  background-color: white;
}

.heading {
  background-color: white;
}

.row {
  justify-content: center;
}